{% load static %}

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
<link rel="stylesheet" type="text/css" href=
"{% static 'lang/css/dropdown.css' %}">
<link rel="stylesheet" type="text/css" href=
"{% static 'lang/css/header.css' %}">

	<div class="navigation">
	<ul id="nav">
		<li><a href="{% url 'lang:main' user.username %}" class="logo">SpeakIt!</a></li>
		<li><a href="#">News</a></li>
		<li><a href="#">About</a></li>
		<li class="nav-elem-right"><a href="#"> {{ user.username }} &#8964;</a>
			<ul>
				<li><a href="{% url 'lang:profile' user.username %}">My profile</a></li>
				<li><a href="#">My vocabulary</a></li>
				<li><a href="#">Settings</a></li>
				<li><a href="#">Help</a></li>
				<li><a href="#">Log out</a></li>
			</ul>
			
		</li>
		<li class="nav-elem-right"><a href="#">Languages &#8964;</a>
			<ul>
				<li><a href="#">English</a></li>
				<li><a href="#">German</a></li>
				<li><a href="#">Spanish</a></li>
				<li><a href="#">Polish</a></li>
				<li><a href="#">Chinese</a></li>
			</ul>
		</li>
	</ul>
    </div>
    
{% block content %}
{% endblock %}