{% load static %}

<link rel="stylesheet" type="text/css" href=
"{% static 'lang/css/index.css' %}">
<link rel="stylesheet" type="text/css" href=
"{% static 'lang/css/header.css' %}">
<link rel="stylesheet" type="text/css" href=
"{% static 'lang/css/form.css' %}">
<link rel="stylesheet" type="text/css" href=
"{% static 'lang/css/signin.css' %}">

<div class="header">
    <a href="{% url 'lang:index' %}" class="logo">SpeakIt!</a>
    <div class="header-right">
      <a href="{% url 'lang:signin' %}">Sign In</a>
      <a href="{% url 'lang:signup' %}">Sign Up</a>
      <a href="{% url 'lang:about' %}">About</a>
    </div>
</div>

<form action="{% url 'lang:signin' %}" method="post">
    {% csrf_token %}
    {% for field in form %}
        <div class="group">
            {{ field }}
            <span class="highlight"></span>
            <span class="bar"></span>
            <label for="{{ field.id_for_label }}">{{ field.html_name }}</label>
        </div>
        {% for error in field.errors %}
            <p>{{ error }}</p>
        {% endfor %}
    {% endfor %}
    <button type="submit" class="button buttonBlue">Sign in
        <div class="ripples buttonRipples"><span class="ripplesCircle"></span></div>
    </button>

    {% for message in messages %}
    <div class="alert alert-success login-error">
    <a href="#" data-dismiss="alert">×</a>
    {{ message }}
    </div>
    {% endfor %}

    <p class='login-sign-up-tip'>Don't have account yet?
            <a href="{% url 'lang:signup' %}">Sign up!</a>
    </p>
</form>

<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<script src="{% static 'lang/js/form.js' %}"></script>