{% extends 'lang/header_logged.html' %}

{% load bootstrap4 %}

{% load static %}

{% block content %}
    {% block css %}
    <link rel="stylesheet" type="text/css" href=
	"{% static 'lang/css/common.css' %}">
	<link rel="stylesheet" type="text/css" href=
    "{% static 'test_voc/css/test_voc.css' %}">
    <link rel="stylesheet" type="text/css" href=
	"{% static 'test_voc/css/test_meaning.css' %}">
    {% endblock %}
    <body>
        <div id="test-content">
            <div id="btn-end-test">
                <a class="btn btn-warning" href="">End test</a>
            </div>
            <div class="progress-container">
                <div class="progress">
                    <div class="progress-bar" role="progressbar" style="width: 0%;" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100">0%</div>
                </div>
            </div>
            <div id="question">
                <p id="question-text"></p>
                <div id="question-choices">    
                </div>
            </div>
        </div>
        <div id="footer">
            <div id="example">
                <img id="result-icon" src="" width="200" height="200" alt="image format png"/>
                <div id="example-body">
                    <h3 id="question-result"></h3>
                    <p id="example-header"></h4>
                    <p id="example-text"></p>
                </div>
            </div>
            <a id="btn-skip" class="btn btn-warning"  onclick="">Skip</a>
            <a id="btn-check" class="btn btn-primary"  onclick="">Check my answer</a>
        </div>
    </body>

{% endblock %}

{% block js %}
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
    <script src="{% static 'test_voc/js/test_meaning.js' %}"></script>
{% endblock %}