{% extends 'lang/header_logged.html' %}

{% load bootstrap4 %}

{% load static %}

{% block content %}
	<link rel="stylesheet" type="text/css" href=
	"{% static 'lang/css/common.css' %}">
	<link rel="stylesheet" type="text/css" href=
	"{% static 'test_voc/css/test_voc.css' %}">
	<style>
    </style>
	{% block css %}
    {% endblock %}
	<div id="content">
		<div class="common-container">
            <h1>Test your vocabulary by guessing a meaning</h1>
            <a class="btn btn-success" href="{% url 'lang:test_voc:testmeaning' user.username %}">Start testing by meanings</a>
        </div> 	 
        <div class="common-container">
            <h1>Test your vocabulary by questions</h1>
            <a class="btn btn-success" href="{% url 'lang:test_voc:testmain' user.username %}">Start testing with funny questions</a>
        </div>
        <div class="common-container">
            <h1>Test your vocabulary by examples</h1>
            <a class="btn btn-success" href="{% url 'lang:test_voc:testmain' user.username %}">Start testing with a help of examples</a>
        </div>
	</div>

{% endblock %}

{% block js %}
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
{% endblock %}




