body {
	font-family: Helvetica;
	background: white;
}

#content {
	margin: 10px 30px;
	padding: 15px;
	height: max-content;
	border-radius: 5px;
	background: rgb(238, 236, 236);
}

#functionality #builder,
#functionality #test {
	position: relative;
	background-color: white;
	margin: 25px 10px;
	padding: 5px;
	border: 2px solid black;
	border-radius: 5px;
}


#content #tasks {
	float: right;
	position: relative;
	width: 20%;
	margin: 5px;
	padding: 5px;
	border: 1px solid transparent;
	border-radius: 5px;
}

#content #functionality {
	display: inline-block;
	position: relative;
	width: 75%;
	margin: 5px;
	padding: 5px;
	border: 1px solid transparent;
	
	border-radius: 5px;
}

#content #tasks div {
	position: relative;
	margin: 5px;
	padding: 5px;
	border: 1px solid black;
	border-radius: 5px;
}


.title {
	font-size: 16px;
	font-weight: 200;
}

#builder {
	position: relative;
	margin-left: 5px;
	margin-right: 5px;
	padding: 5px;
	text-align: center;
	border: 1px solid gray;
	border-radius: 5px;
}

#test {
	position: relative;
	margin-left: 5px;
	margin-right: 5px;
	padding: 5px;
	text-align: center;
	border: 1px solid gray;
	border-radius: 5px;
}

#builder #builder-main,
#test #test-main {
	display: inline-block;
  	top: 50%;
}

#builder img,
#test img {
	margin: 10px;
}