body {
    background-color: rgb(238, 236, 236);
}

.profile-form {
    background-color: white;
    border-radius: 8px;
    margin: 10px 12px;
    padding: 3% 3%;
}

.password-change {
    display: block;
    margin-bottom: 7px;
}