#result-header, 
#result-number,
#result-phrase {
    text-align: center;
}

#result-content .div-button {
    height: fit-content;
    display: flex;
    align-items: center;
    justify-content: center;
}

.div-button a {
    width: 200px;
    height: 40px;
}

#result-content .progress {
    width: 50%;
    margin: 20px auto;
}